.nav
{
	/* Make shadow under top bar larger. */
	
	-webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.3);
}

a.navitem
{
	transition: background-color .3s;
}

a.navitem_active
{
	color: black;
	background-color:#e0e0e0;
}

a.navitem:hover
{
	background-color:#e0e0e0;
}



a.button_black_over_white
{
	height:auto;
	width:100px;
	
	font-size:14px;
	
	float:left;
	
	padding:6px 10px;
	
	display:block;
	
	color:black;
	background-color:#e0e0e0;
	
	font-weight:bold;
	
	border:none;
	border-radius:4px;
	
	
	text-decoration:none;
	
	text-align:center;
	
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	
	-webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.4);
	
	transition: background-color .2s, color .2s, border-color .2s box-shadow .2s;
}

a.button_black_over_white:hover
{
	color:black;
	background-color:white;
	
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.9);
}

.footer
{
	background-color: #303030;
	color:white;
}

a.button_black_small_over_black
{
	height:auto;
	width:20%;
	
	font-size:12px;
	
	float:left;
	
	padding:0px 4px;
	
	display:block;
	
	color:black;
	background-color:white;
	
	font-weight:bold;
	
	
	border:none;
	border-radius:4px;
	
	
	text-decoration:none;
	
	text-align:center;
	
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	
	-webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.4);
	
	transition: background-color .2s, box-shadow .2s;
}

a.button_black_small_over_black:hover
{
	background-color:#d0d0d0;
	
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.8);
}


.footer_bottom_scrollup_button
{
	border:none;
	
	background-color:white;

	height:25px;
	width:auto;
	
	
	cursor: pointer;
	
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	
	-webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.5);
	
	
	border-radius:4px;
	
	transition: background-color .3s, box-shadow .3s;
}

.footer_bottom_scrollup_button:hover
{
	background-color:#d0d0d0;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.8);
	
}

img.photo
{
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.8);
}
